<div class="container">

  <div class="card "> 
    
    <div class="card-header head-properties ">
      <span class="mb-0 h1 title-table">Lista de areas</span>
      
      <button class="btn btn-lg float-end btn-custom" routerLink="/create-area">Añadir</button>
    </div>

    <div class="card-body">
      <table class="table table-striped ">
        <thead >
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Líder</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.data.codigo }}</td>
            <td>{{ item.data.nombre }}</td>
            <td>{{ item.data.lider }}</td>
            <td>{{ item.data.estado }}</td>
            <td>
              <fa-icon class="fa-lg text-info" [icon]="faEdit" style="margin-right: 1rem;" [routerLink]="['/edit-area/', item.id]"></fa-icon> 
              <fa-icon class="fa-lg text-danger" [icon]="faTrashCan" (click)="deleteAreaItem(item)"></fa-icon> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>

  
</div>
