.container {
  margin-top: 5%;
}

.thead-properties {
  background-color: rgb(103, 26, 175) !important;
  padding: 2%;
} 

.title-table {
  color: white
}

.table {
  margin-top: 2%;
}

.btn-custom {
  background-color: rgb(25, 150, 150);
  color: white
}

.btn-custom:hover {
  background-color: rgb(37, 185, 185);
  color: white
}

fa-icon {
  cursor: pointer;
}