<nav class="navbar navbar-expand">
  <span class="navbar-brand mb-0 h1 title-menu">Prueba Técnica Angular - Firebase</span>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link title-menu" routerLink="/list-areas">Areas</a>
      <a class="nav-link title-menu" routerLink="/list-employees">Empleados</a>
    </div>
  </div>

</nav>