<div class="container">

  <div class="card "> 
    
    <div class="card-header head-properties ">
      <span class="mb-0 h1 title-form">Editar área</span>
    </div>

    <div class="card-body">
      <form class="create-employee-form">

        <div class="row">

          <div class="col">
            <label> Código </label>
            <input type="number" class="form-control" placeholder="Codigo">
          </div>

          <div class="col">
            <label> Nombre </label>
            <input type="text" class="form-control" placeholder="Nombre">
          </div>

        </div>

        <div class="row">

          <div class="col">
            <label> Lider </label>
            <input type="number" class="form-control" placeholder="Lider">
          </div>

          <div class="col">
            <label> Estado </label>
            <input type="text" class="form-control" placeholder="Estado">
          </div>

        </div>

        <div class="btn-set">
          <button type="submit" class="btn btn-custom btn-lg">Agregar</button>
          <button type="text" class="btn btn-dark btn-lg" routerLink="/list-areas">Volver</button>
        </div>

      </form>
      
    </div>
  
  </div>
  
</div>


